.clockpage {
  height: 6.5rem;
}

/* ========================== */

@keyframes fade-in {
  0% {
    opacity: 0.1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-in {
  animation: fade-in 1s ease-in 1 forwards;
}

/* PHOTO GRID ------------------------------------------ */
#photo-grid {
  animation: fade-in 3s forwards;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 10px;
  margin-top: 20px;
}
#photo-grid img {
  margin: -2.5px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  background-color: var(--bg_main);
}
@media (max-width: 1200px) {
  #photo-grid {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 900px) {
  #photo-grid {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 600px) {
  #photo-grid {
    grid-template-columns: 580px;
  }
  #photo-grid img {
    width: 580px;}
}

/* ========================== */

#error-message {
  color: palevioletred;
  text-align: center;
  width: 100%;
}