/* ========================== */

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeIn {
  to { opacity: 1; }
}
.fade-out {
  animation: fade-out 0.4s ease-in 1 forwards;
}
.fade-in {
  opacity: 0.3;
  animation: fadeIn 0.7s ease-in 1 forwards;
}

/* PHOTO GRID ------------------------------------------ */
#photo-grid {
  animation: fade-in 3s forwards;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
  margin-top: 20px;
}
#photo-grid img {
  margin: -2.5px;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1200px) {
  #photo-grid {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 900px) {
  #photo-grid {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 600px) {
  #photo-grid {
    grid-template-columns: 300px;
  }
}
